.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  margin: 2px 24px;
}


.searhBar{
position: relative;
top: 10px;
}

.loader{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;

}



